.template {
  display: flex;
  flex: 1;
  flex-direction: column;
  .header {
    flex: 1;
    display: flex;
    background: linear-gradient(90deg, #70f6ef 0%, #1f56ac 100%);
    padding: 0;
    color: #fff;
    padding: 64px 24px;
    .title {
      font-size: 5rem;
      font-weight: bold;
    }
    .subtitle {
      font-size: 1.5rem;
    }
  }
  &-list {
    padding: 32px 40px;
    flex: 4;
    display: flex;
    row-gap: 20px;
    gap: 32px;
  }

  .info {
    padding: 16px 16px;
    z-index: 100;
    span {
      line-height: 1.5;
      font-size: 1.2rem;
    }
  }

  .info::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 0%);
    z-index: -1;
    border-radius: 6px;
  }

  a {
    color: unset;
    &:hover {
      color: unset;
    }
  }
}

.choose-template {
  margin: 56px 24px;
  .ant-col {
    text-align: center;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #363636;
  }
  .subtitle {
    opacity: 0.5;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #4a4a4a;
  }
}
