.editor {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;

  .bank,
  .attributes {
    flex: 1;
    background-color: rgba(206, 206, 206, 0.918);
    .heading {
      display: flex;
      flex: 1;
      justify-content: center;
      span {
        font-weight: bolder;
        font-size: 20px;
      }
    }

    .components {
      padding-top: 24px;
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      justify-content: space-around;
    }
  }

  .iconsContainer {
    width: auto;
    height: 64px;
  }

  .view {
    flex: 2;
    background-color: azure;
  }
}

.viewHolder {
  width: 500px;
  max-width: 500px;
  height: 100%;
  background-color: #fff;
  margin: 0px auto;
  // border: 1px solid darkslateblue;
}
