.ant-collapse-item {
  &:hover {
    background-color: rgb(242, 242, 242);
  }
}

.ant-collapse-item-active {
  &:hover {
    background-color: initial;
  }
}

.inline-editor-popover-color-picker {
  .ant-popover-inner-content {
    padding: 0;
  }
}
