.wrapper {
  width: 80px;
  display: flex;
  padding: 10px 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(229, 229, 229);
  justify-content: space-between;

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 4px;
    border-color: rgb(255, 255, 255);
  }

  .container {
    height: 64px;
    width: 64px;
  }

  .button {
    background: url(../Assets/Images/button_component_drag_and_drop.svg) no-repeat center;
  }

  .text {
    background: url(../Assets/Images/text.svg) no-repeat center;
  }

  .image {
    background: url(../Assets/Images/Image.svg) no-repeat center;
  }

  .html {
    background: url(../Assets/Images/Html.svg) no-repeat center;
  }

  .spacer {
    background: url(../Assets/Images/spacer.svg) no-repeat center;
  }

  .divider {
    background: url(../Assets/Images/Divider.svg) no-repeat center;
  }

  .social {
    background: url(../Assets/Images/social.svg) no-repeat center;
  }

  .section {
    background: url(../Assets/Images/section.svg) no-repeat center;
  }

  span {
    text-align: center;
    color: rgb(126, 113, 113);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
  }
}
